.event-popup,
.activity-popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #a0a0a0;
  opacity: 0.8;
}

.event-image,
.activity-image {
  border: 1px solid black;
  height: 250px;
  width: 350px;
  opacity: 1;
}

.event-text,
.activity-text {
  text-align: center;
  opacity: 1;
}

.close-event-button,
.close-activity-button {
  opacity: 1;
}
