body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  height: fit-content;
}

.bar-container {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  margin: 2%;
  height: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px dotted blue;
}

#main-info-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

#resources-bar,
#special-resources-bar,
#season-year-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: clamp(2px, 1vw, 15px);
}

#next-season-button {
  border: 1px solid black;
  margin: 0 auto;
}

#game-interface {
  border: 1px dotted green;
  margin: 1%;
  padding: 2%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

#game-events-log {
  border: 1px solid red;
  height: 300px;
}

#leaders-interface {
  border: 1px solid aqua;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.activity-container {
  min-width: 300px;
  max-width: 350px;
}

.activity-container h3,
.activity-container p {
  text-align: center;
}

.activity-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-activity-button {
  width: 75px;
}
